@font-face {
    font-family: 'headersFont';
    src: url('./fonts/DelagioScript.otf');  
}
:root {
    --carousel-height: 40rem;
    --width-side-bar: 20rem;
    --width-sidebar-closed: 5.5rem;
    --height-header: 10rem;
    --gold-borders: rgba(137, 121, 31, 0.826);
    --sidebar-cor-hover-icon:#44280d ;
    

  }

*, *::before, *::after{
    box-sizing: border-box;
}
*{
    margin:0;
    padding:0;
}

html,body{
    margin: 0;
    /*background-size: cover;*/
    height: 100%;
    width: 100%; 
    font-size: 16px;
}
body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns:  auto 1fr;
    grid-template-rows: 10rem 4fr auto;
    height: 100vh;
    /*position: relative;*/
    height:fit-content; 
    overflow:scroll;
}

.header{
    position:sticky;
    top:0;
    left: var(--width-sidebar-closed);
    z-index: 2;
    width: 100%;
    display: flex;
    flex-direction: column; /* Set the main axis to be vertical */
    justify-content: flex-end;
    align-items: center; 
    font-family: 'headersFont';
    color: rgb(240, 243, 244);
    font-weight: 550;
    -webkit-text-stroke: 1px #ffffff; /* Outline width and color for webkit browsers */
    background-color: rgb(172 126 70 / 59%);
    background-image: url('./images/beach_normal.jpg'); 
    background-size: cover;
    background-blend-mode: multiply;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-size: 7rem;
    height: 10rem;
    transition: height 0.8s ease-in-out, font-size 0.8s ease-in-out;

}
.smaller_header{
    font-size: 2.5rem;
    height: 3rem; 
    transition: height 0.8s ease-in-out, font-size 0.8s ease-in-out;
}
.headerText{
    height: fit-content;
    width: fit-content;
}
.header_width_adjustment{
    left:var(--width-side-bar);
    width:calc(100% );
    transition: all .7s ease-in-out;
}
.sidebar{
    height:100%;
    z-index: 3;
    width: var(--width-sidebar-closed);
    padding: 0.4rem 1rem;
    background-color:rgb(84 51 1 / 81%) ;
    transition: width 0.1s ease-in-out ;
    grid-row: 1 /span2;
    position: sticky;
} 
.sidebar.active{
    width:var(--width-side-bar);
}
.sidebar #menuBurgerIcon {
    color: white;
    top: .5rem;
    left:50%;
    font-size: 2.5rem;
    line-height: 5.4rem;
    transform: translate(-50%);
    cursor:pointer;
    display: flex;
    align-self: baseline;
    position: absolute; /* Position the logo absolutely */
    left: 2.7rem;    
}
.sidebar.active #menuBurgerIcon {
position: relative; /* Return the logo to its normal position */
top: auto;
left: auto;
transition: position 4s ease-in-out ;
}
.sidebar .top_side_bar .logo{
    color: white;
    display: flex;
    height: 5rem;
    width:0.5rem;
    align-items: center;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;   
}
.sidebar.active .top_side_bar .logo{
    opacity: 1;
    width: 100%;
    transition: all 0.2s ease-in-out;   
{/**/}   
}
.top_side_bar{
    display: flex;
    gap: 0.9rem;
    height: 5rem;
}
.top_side_bar .logo{
    font-size: 2.6rem;
    margin-right: 0.8rem;
}
.sidebar ul li{
    list-style: none;
    height: 3rem;
    width: 90%;
    margin: 0.5rem 0.8rem 0.5rem 0.8rem; 
}
.sidebar ul li a{
    color: white;
    text-decoration: none;
    border-radius: 0.1rem;
    font-size: 2rem;
    display: flex;
    align-items: center;
}
.sidebar ul li a i:hover{
    background-color: #ffffff;
    color: var(--sidebar-cor-hover-icon);
}
.sidebar.active ul li a:hover{
    background-color: #ffffff;
    color:var(--sidebar-cor-hover-icon);
}
a.pageButtons.active  i{
    background-color: aliceblue;
    color:var(--sidebar-cor-hover-icon);
}
.sidebar.active ul li a.pageButtons.active {
    background-color: aliceblue;
    color:   var(--sidebar-cor-hover-icon);
}

.sidebar ul{
    display: flex;
    flex-direction: column;
    justify-content:  center;
}
.sidebar ul li a i{
    min-width: fit-content;
    text-align: center;
    height: 2rem;
    border-radius: 1rem;   
}
.sidebar .nav_item{
    height: fit-content;
    width: fit-content;
    opacity:0;
    margin-left: 1rem;
}
.sidebar.active .nav_item{
    opacity:1;
    position: relative;
    transition: opacity 0.5s ease-in 0.2s;
}
.mainSection{
    flex-grow: 1;
    height: 100vh;
}
.footer{
    background-color: rgb(218, 210, 210);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    grid-column: 1/span 2;
}

.body, .body_home_page{
    display: flex;
    flex-direction: column;
    align-items: center;
  
    gap:3rem;
    /*padding: 2rem;*/
    background-repeat: no-repeat;
    background-size: cover;
    /*background-size: 100% 100%;*/
    /*background-image: linear-gradient(to right bottom,  rgba(39, 122, 122, 0.84) , rgb(180, 228, 234)95% );*/ /* Path to your background image */
   height: 100%;  
}
/*.body_home_page{
    padding-top: var(--height-header);
}*/

.containerFoodsDrinks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap:3rem; 
    padding: 3rem 3rem 3rem 2rem; 

}

.titleInCarousel{
    display: flex;
    justify-content: center;
    padding: 0.5rem 1rem 1rem 2rem;
    font-weight: 700;
    font-size: 5rem;
    color: #ffffff;
    letter-spacing: 0.1rem;
    font-variant-caps: all-petite-caps;
}
.textInCarousel1{
    color: #ffffff;
    text-align-last:left;
    padding: 2rem 2rem 2rem 2rem;
    font-size: 2.5rem;
    width: 80%;
    text-align: start;
    width: fit-content;
    gap:1rem;
}
.textInCarousel2{
    color: #ffffff;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    padding: 1rem 1rem 1rem 1rem;
    width: 100%;
    text-align: center;
    gap:1rem;

}




/*
.imageInTheMenu{
    max-width: 20rem;
    max-height: 20rem;
    border-radius: 1rem;
}*/
.imageContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}

.priceInBody{
    font-size: 3rem;
    font-weight: 600;
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 0;
    padding: 0.8rem;
}
.textInBodyMenu{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    color:#563311;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.5;
    margin-top: 0rem;
    padding-top: 0rem;  
}
.titleMenu{
    font-size: 5rem;
    font-weight: 600;
    color:white;
    background-color:#133865fc;
    padding: 0.5rem 3rem 0.5rem 3rem;
    border-radius: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28rem;
    align-self: center;
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
    margin-bottom: 2rem;
}
.galleryGridContainer{
    display:grid ;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 3rem;
    padding: 2rem;
}
.galleryGridCell{
    width: 20rem;
    max-height: 20rem;
    border-radius: 1rem;
}
.galleryGridCell:hover{
    transform: scale(1.2);

}
/*-------------------------------   Carousel   --------------------------------------------------*/
.flipped-arrow {
    transform: scaleX(-1);
    display: inline-block;
  }


.containersHomePage0, .containersHomePage1, .containersHomePage2{
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 0;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
     
}
.carouselTextAndTitleContainer0{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    padding: 2rem;
    background-color: #332400;
    overflow: auto;
}
.carouselTextAndTitleContainer2,.carouselTextAndTitleContainer1 {
    width: 50%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;  
    background-color: #332400;
    overflow: auto ;
}

.title_reservation{
    color:white;
    font-size: 5rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    font-variant-caps: all-petite-caps;
}
.carouselTextAndTitleContainer0{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 100%;
    width: 50%;
    gap:2rem;
}
.containerReservationForms{
    display:flex;
    gap: 3rem;

    color: #ffffff;
    flex-wrap: wrap;
}
.containerReservationForms label{
    font-style: italic;
}

.containerReservationForms input{
    margin: 0.5rem 0rem 1rem 1rem ;
    border: none;
    border-radius: 0.5rem;
    min-height: 3rem;
    font-size: large;
    outline: none;
    color: #ffffff;
    background-color: #181818;
    padding-left: 1rem;
}
.containerReservationForms input:valid{
    outline:0.3rem solid var(--gold-borders);
}

.containerReservationForms input:invalid:focus{
    outline:  gray solid 0.2rem;
}

.SideReservationForms{
    display: flex;
    flex-direction: column;
}
.reservation_button{
    border-radius: 0.3rem;
    font-size: 3rem;
    color:white;
    padding: 1rem;
    background: #142d4ce6;
    cursor: pointer;
    font-weight: 600;  
    width: fit-content;
    border: 0.1rem solid #0e223a;
    transition: background-color 0.8s;
    position: relative;
    overflow: hidden;
    margin-bottom: 2rem;
    z-index:1;
}
.reservation_button::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0%;
    background-color: var(--gold-borders);
    color: white;
    z-index:-1  ;
    transition: 0.8s;
    border-radius: 0 0 50% 50%  ;
}
.reservation_button:hover::before{
    height: 180%;
}
.reservation_button:focus{
    outline: 0.1rem solid #142d4ce6;
   
}
#readTime{
    color:#ffffff;
}

/*
.titleInBody{
    height: fit-content;
    font-weight: 800;
    font-size: 2rem;
    margin: 0rem;
    text-align: center;
    padding-bottom:1em;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}*/

.carousel{
    /*background-color: rgb(65, 177, 177);*/
    font-size: 1.5rem;
    /*width:50rem ;*/
    width: 100%;    
    /*height: calc(100vh - 10rem - 2.2rem );*/
    height: var(--carousel-height);
    /*padding: 1rem;*/
    position: relative;
    /*border-radius: 1.6rem;*/
    /*overflow: auto;*/
}
.slide{
    position: absolute;
    inset:0;
    opacity:0;
    transition: 220ms opacity ease-in-out;
    transition-delay: 220ms;
    overflow: auto;
    display: flex;
    flex-direction: row;
}
.carouselImageContainer0,.carouselImageContainer1,.carouselImageContainer2{
    height: 100%;
    width: 50%;
    object-fit: cover;
    display:flex;
    overflow: hidden;
}

.imageInCarousel{
    width: 100%;
    
}

.slide[data-active]{
    opacity:1;
    z-index: 1;
    transition-delay: 0ms;
}
.carousel_button{
    position: absolute;
    background: none;
    border: none;
    font-size: 4rem;
    top:40%;
    z-index: 2;
    color: rgba(255, 255, 255, 0.88);
    cursor: pointer;
    border-radius: 0.25rem;
    padding: 0.5rem;
    margin: 2rem;
    background-color: rgba(0, 0, 0, 0.301);
}
.carousel_button:hover,
.carousel_button:focus{
    color: white;
    background-color:rgba(0, 0, 0, 0.5); ;
}
.carousel_button:focus{
    outline: 1px solid black;
}
.carousel_button.prev{
    left:1rem;
}
.carousel_button.next{
    right:1rem;
}
/*---------------------------------------------------------------------------------*/





label{
    align-self: baseline;
}

.create_a_book_card{
    padding: 0.5rem;
    font-size: 2rem;
    font-weight: 900;
    color: white;
    background: #4f9fdc;
    border-radius: 0.5rem;
}
/*-------------------------------------- Menu cards -----------------------------------------------*/



.containersMenuPage{
    width: 22rem;
   
    border-radius: 1.5rem;
    overflow: hidden;
    border: 0.5rem solid white;
    position:relative;  
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
    margin: 1rem 2rem 0 3rem;
    /*  padding: 1rem; */
    background-color: rgba(65, 177, 177, 0.328);
    display: flex;
    align-self: center;
    justify-self: center;
 
}
.imageInTheMenu{
    width: 100%;
    height:100%;
    object-fit: cover;
    border-radius: 1rem; 
}
.card_body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100% ;
    top:0;
    right:-100%;
    position:absolute;
    background-color: #284d574a;
    backdrop-filter:blur(0.3rem);
    border-radius: 1rem;  
    color: #ffffff; 
    padding:2rem 1rem;
    justify-content: end;
    align-items: center;
    transition: 1s;
}
.containersMenuPage:hover .card_body{
    right: 0;  
}
.containersMenuPage:hover{
    border-color:  rgba(205, 155, 30, 0.826);
}
.title_card{
    font-size: 3rem;
    font-weight: 700;
    margin: 1rem 1rem 1rem 1rem;
    letter-spacing: 0.1rem;
}
.description_menu_card{
    font-size: 1.5rem;
    line-height: 2rem;
    height: 18rem;
    margin: 0.4rem 0rem 0rem 1.5rem;
    font-weight: 300;
    word-wrap: break-word;  
}
.textAndPriceContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 2rem;    
}
.order_button{
    padding: 0.5rem 1rem ;
    height: fit-content;
    margin-left:2rem ;
    font-size: 2rem;
    border: none;
    border-radius: 0.3rem;
    color: white;
    font-weight: 600;
    background-color: rgba(205, 155, 30, 0.826);  
    cursor:pointer;
}
.order_button:hover{
    background-color: var(--gold-borders);    
}
.price_in_card{
    margin-right:2rem ; 
}
.drinks_container, .food_container{
    display: grid;
    grid-template-columns: repeat(3, 25rem);
    gap:1rem;
    margin-bottom: 3rem;
}
@media screen and (max-width: 768px) {
    /* Change the grid layout to a single column for smaller screens */
    .drinks_container, .food_container {
      grid-template-columns: 1fr;
    }
    .carouselImageContainer0, .carouselTextAndTitleContainer0 ,
    .carouselImageContainer1, .carouselTextAndTitleContainer1,
    .carouselImageContainer2, .carouselTextAndTitleContainer2,.slide{
        width: 100%;
    }
    .slide{
        flex-direction: column;
    }

    .title_reservation ,{
        font-size: 3rem;
    }

    .textInCarousel1,.textInCarousel2{
        font-size: 1.5rem;
    }
    .containersHomePage0, .containersHomePage1, .containersHomePage2{
        font-size: 1rem;
    }
    .galleryGridContainer{
        display:flex;
        flex-direction: column;
    }


  }
